header{
    margin: 0px;
    padding: 0px;
}
.navigation{
    background-color: #76daec;
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
}
main{
    width: 1000px;
    margin: auto;
}
h1{
    text-align: center;
}
.possibility{
    background-color: #d28e8e;
    float: left;
}
.equipment_list{
    background-color: #d1d583;
    float: right;
}
.developer{
    background-color: #6ed07e;
    margin-top: 200px;
}
.contacts{
    text-align: center;
    background-color: #ccc;
    margin-top: 200px;
}
